<h1>Public Recipes</h1>
<div class="recipe-container flex-col">
<ul class="flex-col">
  <% @public_recipes.each do |recipe| %>
    <div class="recipe-card">
        <div>
            <h2><%=link_to recipe.name, recipe_path(recipe)%></h2>
            <p>By: <%= recipe.user.name %></p>
        </div>
        <div>
            <p>Total Food Item: <%=@total_food_items%></p>
            <p>Total Price: <%=@total_price%> $</p>
        </div>
    </div>
  <% end %>
</ul>
</div>

